<header class="header">
    <a href="/" class="header__logo">987-XY</a>
    <nav class="header__nav">
        <ul>
            <li> 
                <a href="/">Home</a>  
            </li>
            <li> 
                <a href="/about">About</a> 
            </li>
            <li>
                <a href="/contact">Contact</a> 
            </li>
        </ul>
    </nav>
    <div class="searchBtn">
        <a href="https://www.friv.com/">Play Games</a> <!-- Change to an anchor tag with a link to the overview page -->
    </div>
</header>